.coverimage{
    width:500px;
    border:10px solid maroon;
    border-radius: 5%;
    box-shadow: 10px 10px 10px gray;
}

.nav-right{
    float:right;
}


.footer, footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  footer a, footer a:hover{
      color:white;
  }